{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

<!-- PARALAX HEADING -->
{% block paralax_title%} Change Password {% endblock%}

{% block content %}
<div class="allauth-section" >
    <h1>{% if token_fail %}{% trans "Bad Token" %}{% endif %}</h1>

    {% if token_fail %}

    <div class="allauth-link-text">
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    </div>

    {% else %}
        <div class="form-section">
            {% if form %}
                <form method="POST" action="{{ action_url }}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="glow-button" type="submit" name="action" value="{% trans 'change password' %}"/>
                </form>
            {% else %}
                <p>{% trans 'Your password is now changed.' %}</p>
            {% endif %}
        </div>
    {% endif %}
</div>
{% endblock %}
