{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

<!-- PARALAX HEADING -->
{% block paralax_title%} Sign Up {% endblock%}


{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

{% get_providers as socialaccount_providers %}


<div class="allauth-link-text">
  <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
</div>



<div class="allauth-section">

  {% if socialaccount_providers %}

    <div class="allauth-link-text">
      <p>{% blocktrans with site.name as site_name %} You can sign up with
        your Google account!
      {% endblocktrans %}</p>
    </div>

    <div class="socialaccount_ballot">

      <ul class="socialaccount_providers">

        {% include "socialaccount/snippets/provider_list.html" with process="login" %}

      </ul>

      <div class="login-or">{% trans 'or' %}</div>
      <br>
    </div>

    {% include "socialaccount/snippets/login_extra.html" %}

  {% endif %}


  <div class="form-section">
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <div>
        <button class="glow-button" type="submit">{% trans "Sign Up" %} &raquo;</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
