.card-image-div {
    min-height: 410px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --------------------------- USER FAN ART*/

.card-img-overlay {
    pointer-events: none;
}

#unapproved-art-alert {
    display: flex;
    align-items: flex-start;
}

#unapproved-art-alert button {
    margin-left: 5px;
}

/* --------------------------- ADD FAN ART */

.fan-art-form {
    width: 90vw;
    margin: auto;
}

.fan-art-form input {
    width: 100%;
    margin-bottom: 5px;
}

.fan-art-form textarea {
    width: 100%;
}

/* --------------------------- EDIT FAN ART */

.edit-fan-art-image-display {
    width: 80%;
    margin: auto;
}

.edit-fan-art-image-display img{
    width: 100%;
}

/* --------------------------- MEDIA QUERIES*/

@media (min-width: 576px) {
    .fan-art-form {
        width: 80vw;
    }
    .edit-fan-art-image-display {
        max-width: 600px;
    }
}

@media (min-width: 992px) {
    .fan-art-form {
        width: 800px;
    }
}