{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet"
        href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}


<!-- PARALAX HEADING -->
{% block paralax_title%} My Profile {% endblock%}


{% block content %}

    <section id="profile-details">

        <div id="profile-details-form-container">
            <form action="{% url 'update_profile' %}" method="POST" >
                {% csrf_token %}

                <!-- MINI HEADING -->
                <div class="my-4 ml-4">
                    <span class="form-section-heading">Your Details</span>
                </div>

                <fieldset class="form-section">
                    {{ user_form.username | as_crispy_field }}
                    {{ user_form.first_name | as_crispy_field }}
                    {{ user_form.last_name | as_crispy_field }}
                    {{ user_profile_form.default_phone_number | as_crispy_field }}
                </fieldset>

                <!-- MINI HEADING -->
                <div class="my-4 ml-4">
                    <span class="form-section-heading">Your Address</span>
                </div>

                <fieldset class="form-section">
                    {{ user_profile_form.default_street_address1 | as_crispy_field }}
                    {{ user_profile_form.default_street_address2 | as_crispy_field }}
                    {{ user_profile_form.default_town_or_city | as_crispy_field }}
                    {{ user_profile_form.default_county | as_crispy_field }}
                    {{ user_profile_form.default_postcode | as_crispy_field }}
                    {{ user_profile_form.default_country | as_crispy_field }}
                </fieldset>

                <div class="update-profile-buttons">
                    <button class="glow-button my-4">
                        <span class="icon">
                            <i class="fas fa-share"></i>
                        </span>
                        <span>Save</span>
                    </button>
                    <!-- DELETE -->

                    <a href="{% url 'delete_profile' %}" class="delete-button my-4">
                        <span class="icon">
                            <i class="fas fa-trash-alt"></i>
                        </span>
                        <span>Delete</span>
                    </a>
                </div>
            </form>
        </div>

    </section>

{% endblock %}