.form-section {
    width: 80vw;
    margin: auto;
}

.form-section-heading {
    text-transform: uppercase;
    color: black;
    font-weight: 600;
}

.form-section .textinput,
.form-section textarea,
#id_payment_country,
#id_shipping_country,
#id_email,
#id_email2,
#id_default_country,
#id_username,
#id_password1,
#id_password2,
#id_login,
#id_password {
    width: 100%;
    margin-bottom: 5px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 10px;
}

/* ---------------- CHECKOUT */

#payment-section {
    width: 80vw;
    margin: auto;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 10px;
}

.checkout-form-buttons {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ---------------- UPDATE PROFILE */

#profile-details-form-container {
    margin: 40px auto;
}

/* ---------------- ALLAUTH */

.allauth-section {
    width: 90vw;
    margin: auto;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 10px;
    margin: 40px auto;
}

/* -------------- MEDIA QUERIES */

@media (min-width: 576px) {
    .checkout-form-buttons {
        flex-direction: row;
        justify-content: flex-end;
    }
    #profile-details-form-container {
        max-width: 600px;
    }
    #profile-details-form-container .form-section {
        width: 460px;
    }
}

@media (min-width: 992px) {
    .form-section {
        width: 100%;
        margin: auto;
    }
    .allauth-section {
        width: 700px;
    }
}