{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet"
        href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}


<!-- PARALAX HEADING -->
{% block paralax_title%} Orders {% endblock%}


{% block content %}

    <section id="orders">

        {% if orders %}

            <div class="container">

                {% for order in orders %}
                <!-- ORDER DETAILS -->
                <div class="order-detail-container">

                    <div>
                        <h4 class="order-heading">Order Details</h4>
                        <hr>
                        <p><span class="order-info-heading">Date:</span>&nbsp; {{ order.date }}</p>
                        <p><span class="order-info-heading">Items: </span></p>
                        {% for lineitem in order.lineitems.all %}
                            <p>
                                {{ lineitem.product.name }}&nbsp; - &nbsp;
                                {{ lineitem.product.get_product_type_display }}&nbsp; - &nbsp;
                                {{ lineitem.quantity}}
                            </p>
                        {% endfor %}
                        <p><span class="order-info-heading">Total:</span>&nbsp; ${{ order.grand_total }}</p>
                        <p><span class="order-info-heading">Status:</span>&nbsp; {{ order.get_status_display }}</p>
                    </div>

                    <div class="order-button-div">
                        <a href="{% url 'order' order.order_number %}" class="glow-button">
                            <span class="icon">
                                <i class="fas fa-receipt"></i>
                            </span>
                            <span>See Order</span>
                        </a>
                    </div>
                </div>
                {% endfor %}



            </div>

        {% else %}

            <div class="container empty-orders-container">

                <div class="empty-basket-icon">
                    <span class="icon">
                        <i class="fas fa-shopping-basket"></i>
                    </span>
                    <br>
                    <p>Hey, looks like you havent made any purchases yet! Why not check out the shop?</p>
                </div>

                <div class="basket-button-div">
                    <a href="{% url 'products' %}" class="glow-button my-4">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span>To Shop</span>
                    </a>
                </div>

            </div>

        {% endif %}

{% endblock %}