.product-detail-container {
    width: 80vw;
    padding: 20px;
    margin: auto;
}

.image-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-img-overlay {
    pointer-events: none;
}

.product-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.25rem;
    margin-left: 15px;
    border-radius: calc(.25rem - 1px);
    pointer-events: none;
}


/* --------------------------- MEDIA QUERIES*/

@media (min-width: 576px) {
    .product-detail-container {
        width: 70vw;
    }
}

@media (min-width: 992px) {
    .product-detail-container {
        width: 700px;
    }
}