{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'static_pages/css/static_pages.css' %}">
{% endblock %}


<!-- PARALAX HEADING -->
{% block paralax_title%} About Holly {% endblock%}


{% block content %}

<section id="about-section">

    <!-- ABOUT SECTION -->
    <div class="content-section">
        <div class="about-image-container mb-4">
            <div id="about-image-1" class="about-image"></div>
        </div>
        <div class="about-text-container">
            <p>
                Holly Thomas has spent many years writing screenplays
                and short stories, and producing short films. After
                accidentally moving to Sweden, she now lives with a
                Danish viking and a three legged cat. She has always
                had an affinity for small fluffy animals, can never
                find women’s trousers with proper pockets, and devours
                books the way most people devour chocolate.
            </p>
        </div>
    </div>

</section>


{% endblock %}