{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'static_pages/css/static_pages.css' %}">
{% endblock %}


{% block content %}

<!-- PARALAX HEADING -->
<section id="page-heading">
    <div class="paralax-background">
        <div class="paralax-text-div">
            <h2 class="paralax-text">Welcome to worlds of magic</h2>
        </div>
    </div>
</section>


<section id="home-page">

    <!-- WORLD OF AVA -->
    <div class="page-block">
        <div class="content-section">
            <div class="about-image-container mb-4">
                <div id="ava-pic-front-page" class="about-image"></div>
            </div>
            <div class="about-text-container">
                <p>
                    Some text about the world of Ava
                </p>
                <div class="double-button-container">
                    <a href="{% url 'products' %}" class="glow-button">
                        <span class="icon">
                            <i class="fas fa-book-reader"></i>
                        </span>
                        <span>Read More</span>
                    </a>
                    <a href="{% url 'products' %}" class="glow-button">
                        <span class="icon">
                            <i class="fas fa-shopping-basket"></i>
                        </span>
                        <span>Buy The Book</span>
                    </a>

                </div>
            </div>
        </div>
    </div>

    <!-- PARALAX PAGE BREAK -->
    <div class="paralax-background">
    </div>

    <!-- WORLD OF PARMA HAM -->
    <div class="page-block">
        <div class="content-section">
            <div class="about-image-container mb-4">
                <div id="ph-pic-front-page" class="about-image"></div>
            </div>
            <div class="about-text-container">
                <p>
                    Some text about the world of Parma Ham
                </p>
                <div class="double-button-container">
                    <a href="{% url 'products' %}" class="glow-button">
                        <span class="icon">
                            <i class="fas fa-book-reader"></i>
                        </span>
                        <span>Read More</span>
                    </a>
                    <a href="{% url 'products' %}" class="glow-button">
                        <span class="icon">
                            <i class="fas fa-shopping-basket"></i>
                        </span>
                        <span>Buy The Book</span>
                    </a>

                </div>
            </div>
        </div>
    </div>

    <!-- PARALAX PAGE BREAK -->
    <div class="paralax-background">
    </div>

</section>
{% endblock %}