{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'static_pages/css/static_pages.css' %}">
{% endblock %}


<!-- PARALAX HEADING -->
{% block paralax_title%} Welcome to worlds of magic! {% endblock%}


{% block content %}

<section id="home-page">

    <!-- WORLD OF AVA -->
    <div class="page-block">
        <div class="content-section">
            <div class="about-image-container mb-4">
                <div id="ava-pic-front-page" class="about-image"></div>
            </div>
            <div class="about-text-container">
                <p>
                    For Ava moving to a new town, starting a new school, and
                    learning how to run a hotel already made this summer
                    one of the most exciting she could remember. Little did
                    she know however, that just around the corner, at the
                    bottom of a long, winding and ancient staircase, she
                    would discover a friendship that would cross time itself...
                </p>
                <div class="double-button-container">
                    <a href="{% url 'magic_door' %}" class="glow-button">
                        <span class="icon">
                            <i class="fas fa-book-reader"></i>
                        </span>
                        <span>Read More</span>
                    </a>
                    <a href="{% url 'products' %}?series=1" class="glow-button">
                        <span class="icon">
                            <i class="fas fa-shopping-basket"></i>
                        </span>
                        <span>Buy The Book</span>
                    </a>

                </div>
            </div>
        </div>
    </div>

    <!-- PARALAX PAGE BREAK -->
    <div class="paralax-background">
    </div>

    <!-- WORLD OF PARMA HAM -->
    <div class="page-block">
        <div class="content-section">
            <div class="about-image-container mb-4">
                <div id="ph-pic-front-page" class="about-image"></div>
            </div>
            <div class="about-text-container">
                <p>
                    Waking alone and in the dark she knew something wasn’t
                    right. This place felt cold, she felt cold. So cold
                    she felt like she might never be warm again. She had
                    to get out. Feeling her way through the empty corridors
                    she hunted for a way out, instead she found him. In the
                    darkest of places they found in each other the strength
                    and friendship to build something wonderful.
                </p>
                <div class="double-button-container">
                    <a href="{% url 'parma_ham' %}" class="glow-button">
                        <span class="icon">
                            <i class="fas fa-book-reader"></i>
                        </span>
                        <span>Read More</span>
                    </a>
                    <a href="{% url 'products' %}?series=2" class="glow-button">
                        <span class="icon">
                            <i class="fas fa-shopping-basket"></i>
                        </span>
                        <span>Buy The Book</span>
                    </a>

                </div>
            </div>
        </div>
    </div>

</section>
{% endblock %}