{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'static_pages/css/static_pages.css' %}">
{% endblock %}


<!-- PARALAX HEADING -->
{% block paralax_title%} Ava's World {% endblock%}


{% block content %}

<!-- MAGIC DOOR SECTION -->
<section id="magic-door-section">

    <!-- SECTION 1 -->
    <div class="content-section">
        <div class="world-image-container-ls mb-4">
            <div id="ava-pic-1" class="about-image"></div>
        </div>
        <div class="about-text-container">
            <p>
                Some text about the world, how it works, a bit of
                magic info that sort of thing.
            </p>
        </div>
    </div>

    <!-- PARALAX PAGE BREAK -->
    <div class="paralax-background">
    </div>

    <!-- SECTION 2 -->
    <div class="content-section">
        <div class="world-image-container-ls mb-4">
            <div id="ava-pic-2" class="about-image"></div>
        </div>
        <div class="about-text-container">
            <p>
                Some text about the inspiration behind it, how
                it was written.
            </p>
        </div>
    </div>

    <!-- PARALAX PAGE BREAK -->
    <div class="paralax-background">
    </div>

    <!-- SECTION 3 -->
    <div class="content-section">
        <div class="world-image-container-ls mb-4">
            <div id="ava-pic-3" class="about-image"></div>
        </div>
        <div class="about-text-container">
            <p>
                The place, the hotel.
            </p>
            <div>
                <a href="https://www.hotelorangesommieres.com/" target="_blank" class="glow-button mb-4">
                    <span class="icon">
                        <i class="fas fa-suitcase"></i>
                    </span>
                    <span>Visit the Hotel</span>
                </a>
            </div>

        </div>
    </div>

</section>


{% endblock %}