{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'static_pages/css/static_pages.css' %}">
{% endblock %}


<!-- PARALAX HEADING -->
{% block paralax_title%} Ava's World {% endblock%}


{% block content %}

<!-- MAGIC DOOR SECTION -->
<section id="magic-door-section">

    <!-- SECTION 1 -->
    <div class="content-section">
        <div class="world-image-container-ls mb-4">
            <div id="ava-pic-1" class="about-image"></div>
        </div>
        <div class="about-text-container">
            <p>
                For Ava moving to a new town, starting a new school, and
                learning how to run a hotel already made this summer
                one of the most exciting she could remember. Little did
                she know however, that just around the corner, at the
                bottom of a long, winding and ancient staircase, she
                would discover a friendship that would cross time itself...
                <br><br>
                A smart and resourceful 11 year old, Ava had traveled a
                long way from her native England to the beautiful and
                picturesque town of Sommières, with her eccentric family
                and her trusty guinea pig Mr Waffles. Nestled among the
                striking foothills of the alps and surrounded by
                glistening vineyards and flowing rivers, was their new
                home; a rambling old hotel filled with secret corridors
                and mysterious rooms. It was a dream come true for any
                budding adventurer.
                <br><br>
                Yet a chance discovery deep in the hidden, dusty bowels
                of her new home revealed a mysterious doorway to
                adventures beyond anything Ava could possibly have imagined.
                <br><br>
                A glowing portal to times long since passed... Whatever
                discoveries await beyond, be they magic and wonder or
                mystery and danger, there would be only one way to find out.
                <br><br>
                To step through...
            </p>
        </div>
    </div>

    <!-- PARALAX PAGE BREAK -->
    <div class="paralax-background">
    </div>

    <!-- SECTION 2 -->
    <div class="content-section">
        <div class="world-image-container-ls mb-4">
            <div id="ava-pic-2" class="about-image"></div>
        </div>
        <div class="about-text-container">
            <p>
                <em>
                    “Ava and the Magic Door started off as one of those ideas you
                    have while visiting somewhere really amazing. I knew I wanted
                    to write something, but I wasn't sure how it would all fit
                    together or even what the story would be, I just knew that
                    there would be a story. We were on holiday at the time, staying
                    in this amazing Hotel, the one that Ava lives in, and here
                    i was running around taking as many pictures as I could and
                    scribbling notes all over the place. And then nothing. I let
                    it sit for about a year, like coffee slowly percolating in
                    the back of my brain somewhere. Once day I woke up and BAM
                    there it was, the story.
                    <br><br>
                    I sat down at my computer to write, and three months later
                    I had a completed first draft! The more I wrote the more
                    I wanted to write, and the more ideas I had. At a certain
                    point it almost felt like the story was writing itself,
                    and all I could do was hang on and try not to get finger
                    cramp as it used me to escape!”
                    <br><br>
                </em>
                - Holly Thomas
            </p>
        </div>
    </div>

    <!-- PARALAX PAGE BREAK -->
    <div class="paralax-background">
    </div>

    <!-- SECTION 3 -->
    <div class="content-section">
        <div class="world-image-container-ls mb-4">
            <div id="ava-pic-3" class="about-image"></div>
        </div>
        <div class="about-text-container">
            <p>
                Inspired to visit Ava and her hotel? Well you can!
                The hotel in the books is based on the amazing Hotel
                de L’Orange in Sommières. Experience the wonder
                and magic for yourself, though unfortunately we
                can’t promise you will find your own magic door.
                You never know though!
            </p>
            <div class="single-button-container">
                <a href="https://www.hotelorangesommieres.com/" target="_blank" class="glow-button mb-4">
                    <span class="icon">
                        <i class="fas fa-suitcase"></i>
                    </span>
                    <span>Visit</span>
                </a>
            </div>

        </div>
    </div>

</section>


{% endblock %}