{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'static_pages/css/static_pages.css' %}">
{% endblock %}


<!-- PARALAX HEADING -->
{% block paralax_title%} Parma Ham's World {% endblock%}


{% block content %}

<!-- PARMA HAM SECTION -->
<section id="parma-ham-section">

    <!-- SECTION 1 -->
    <div class="content-section">
        <div class="world-image-container-ls mb-4">
            <div id="ph-pic-1" class="about-image"></div>
        </div>
        <div class="about-text-container">
            <p>
                It’s all new, everything, even you. You only know
                that you have to get out, have to keep moving, and
                have to survive. Luckily fate has provided you with
                a (rather grumpy) friend in the form of a giant talking bear.
                <br><br>
                Together you explore, find friends, and begin to understand
                the world and each other. The shadow behind you is racing
                to catch up though, and secrets from your past dog your
                footsteps. If you want to keep your loved ones safe you
                must face your demons.
            </p>
        </div>
    </div>

    <!-- PARALAX PAGE BREAK -->
    <div class="paralax-background">
    </div>

    <!-- SECTION 2 -->
    <div class="content-section">
        <div class="world-image-container-p mb-4">
            <div id="ph-pic-2" class="about-image"></div>
        </div>
        <div class="about-text-container">
            <p>
                <em>
                    “Parma Ham & Little Blue was another idea that started off on holiday.
                    My partner and I were in Japan, and I was keeping a diary. I like to
                    do these little sketches of all the funny things that happen and
                    because he’s quite a big hairy viking chap I was drawing him as a
                    bear. These cartoons I was drawing in my diary were hilarious, this
                    giant bear interacting with things in japan that were clearly built
                    for someone much smaller. The story itself has nothing to do with
                    us, that sort of grew as I was sketching, but the characters came
                    from those early sketches.
                </em>
                <br><br>
                - Holly Thomas
            </p>
        </div>
    </div>

</section>


{% endblock %}