{% load static %}

<nav id="navbar"
    class="navbar navbar-expand-lg navbar-light sticky-top">

    <!-- TOP BAR -->
    <div class="logo-container">
        <a href="{% url 'index' %}">
            <div class="nav-logo-div"></div>
        </a>
        <a href="{% url 'index' %}">
            <h1>Holly Thomas</h1>
        </a>
    </div>

    <div class="container">
        <!-- MAIN MENU LINKS -->

        <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                <li class="nav-item mr-3">
                    <a class="nav-link" href="{% url 'products' %}">Shop</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="#">Ava's World</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="#">Parma Ham's World</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="{% url 'about' %}">About Holly</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="{% url 'fan_art_gallery' %}">Fan Art Gallery</a>
                </li>
            </ul>


            <ul class="navbar-nav ml-auto">
                <!-- ACCOUNT MINIM MENU-->

                <a class="text-black nav-link" href="#" id="account-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="nav-icon-container">
                        <div class="nav-icon-inner"><i class="fas fa-user fa-lg"></i></div>
                        <div class="nav-icon-inner">&nbsp;   Account</div>
                    </div>

                </a>

                <!-- ACCOUNT DROPDOWNS-->
                <div class="dropdown-menu border-0" aria-labelledby="account-options">
                    {% if request.user.is_authenticated %}

                      {% if request.user.is_superuser %}
                        <!-- TODO: where does this link lead to? -->
                        <a href="" class="dropdown-item">Product Management</a>
                      {% endif %}

                      <a href="{% url 'update_profile' %}" class="dropdown-item">My Details</a>
                      <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>

                    {% else %}
                      <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                      <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                    {% endif %}
                  </div>



                <a class="nav-link" href="{% url 'view_or_update_shopping_basket' %}">
                    <div class="nav-icon-container">
                        <div class="nav-icon-inner"><i class="fas fa-shopping-basket fa-lg"></i></div>
                        <div class="nav-icon-inner">&nbsp;  Basket ({{ shopping_basket.no_of_products }})</div>
                    </div>
                </a>

            </ul>
        </div>
    </div>
</nav>