{% load static %}

<nav id="navbar"
    class="navbar navbar-expand-lg navbar-light sticky-top">

    <!-- TOP BAR -->
    <div class="logo-container">
        <a href="{% url 'index' %}">
            <div class="nav-logo-div"></div>
        </a>
        <a href="{% url 'index' %}">
            <h1>Holly Thomas</h1>
        </a>
    </div>

    <div class="nav-link-container">
        <!-- MAIN MENU LINKS -->

        <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                <li class="nav-item mr-3">
                    <a class="nav-link" href="{% url 'products' %}">Shop</a>
                    {% if current_page == 'products' %}
                        <div class="nav-underline-active"></div>
                    {% else %}
                        <div class="nav-underline"></div>
                    {% endif %}
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="{% url 'magic_door' %}">Ava's World</a>
                    {% if current_page == 'magic_door' %}
                        <div class="nav-underline-active"></div>
                    {% else %}
                        <div class="nav-underline"></div>
                    {% endif %}
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="{% url 'parma_ham' %}">Parma Ham's World</a>
                    {% if current_page == 'parma_ham' %}
                        <div class="nav-underline-active"></div>
                    {% else %}
                        <div class="nav-underline"></div>
                    {% endif %}
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="{% url 'about' %}">About Holly</a>
                    {% if current_page == 'about' %}
                        <div class="nav-underline-active"></div>
                    {% else %}
                        <div class="nav-underline"></div>
                    {% endif %}
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="{% url 'all_fan_art' %}">Fan Art Gallery</a>
                    {% if current_page == 'all_fan_art' %}
                    <div class="nav-underline-active"></div>
                {% else %}
                    <div class="nav-underline"></div>
                {% endif %}
                </li>
            </ul>


            <ul class="navbar-nav ml-auto">
                <!-- ACCOUNT MINIM MENU-->
                <li class="nav-item dropdown">
                    <a class="text-black nav-link " href="#" id="account-options"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button"
                        aria-haspopup="true">

                        <div class="nav-icon-container">
                            <div class="nav-icon-inner"><i class="fas fa-user fa-lg"></i></div>
                            <div class="nav-icon-inner">&nbsp;   Account</div>
                        </div>
                    </a>

                    <!-- ACCOUNT DROPDOWNS-->
                    <div class="dropdown-menu border-0" aria-labelledby="account-options">
                        {% if request.user.is_authenticated %}

                        {% if request.user.is_superuser %}
                            <a href="{% url 'admin:index' %}" class="dropdown-item">Admin Area</a>
                        {% endif %}

                        <a href="{% url 'orders' %}" class="dropdown-item">My Orders</a>
                        <a href="{% url 'user_fan_art' %}" class="dropdown-item">My Art</a>
                        <a href="{% url 'update_profile' %}" class="dropdown-item">My Profile</a>
                        <a href="{% url 'account_email' %}" class="dropdown-item">My Email</a>
                        <a href="{% url 'socialaccount_connections' %}" class="dropdown-item">Social Accounts</a>
                        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>

                        {% else %}
                        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                        {% endif %}
                    </div>
                </li>

                <li>
                    <a class="nav-link" href="{% url 'view_or_update_shopping_basket' %}">
                        <div class="nav-icon-container">
                            <div class="nav-icon-inner"><i class="fas fa-shopping-basket fa-lg"></i></div>
                            <div class="nav-icon-inner">&nbsp;  Basket ({{ shopping_basket.no_of_products }})</div>
                        </div>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>