{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet"
        href="{% static 'shopping_basket/css/shopping_basket.css' %}">
{% endblock %}

{% block content %}

    <section id="basket">

        <!-- PARALAX HEADING -->
        <section id="page-heading">
            <div class="paralax-background">
                <div class="paralax-text-div">
                    <h2 class="paralax-text">Your Basket</h2>
                </div>
            </div>
        </section>

        <!-- BASKET -->
        <div class="row">
            <div class="container">

                <div class="basket-button-div">
                    <a href="{% url 'products' %}" class="glow-button my-4">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span>Back To Shop</span>
                    </a>
                </div>

                <!-- ITEMS -->
                {% if shopping_basket.products %}

                    {% for item in shopping_basket.products %}
                        <div class="basket-item">

                            <!-- IMAGE -->
                            <div>
                                <img src="{{ item.product.image.url }}" alt="product photo" class="mb-3">
                            </div>

                            <!-- DETAILS -->
                            <div id="details-section">
                                <h4>{{ item.product.name }}</h4>
                                <h6 class="text-primary">
                                    {{ item.product.get_product_type_display }}</h6>
                                <p>
                                    <i class="fas fa-book text-secondary"></i>
                                    {{ item.product.series }}
                                </p>
                                <p>{{ item.product.description }}</p>
                                <div>
                                    <a href="{% url 'product_detail' item.product.id %}"
                                    class="glow-button">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span>Product Page</span>
                                    </a>
                                </div>

                            </div>

                            <!-- AMOUNT & PRICE -->
                            <div class="amount-section">

                                <form
                                    action="{% url 'view_or_update_shopping_basket' %}"
                                    method="POST">
                                    {% csrf_token %}

                                    <div class="amount-form-group">
                                        <button
                                            name="increment" class="square-button"
                                            type="button">
                                            <i class="fas fa-plus"></i>
                                        </button>

                                        <input class="amount-display" name="amount"
                                            value="{{ item.amount }}" readonly>


                                        <button
                                            name="decrement" class="square-button"
                                            type="button">
                                            <i class="fas fa-minus"></i>
                                        </button>

                                        <input type="hidden" name="product_id"
                                            value="{{ item.product.id }}">
                                    </div>

                                    <div>
                                        <button id="update-button"
                                            class="short-button" type="submit">
                                            <span class="icon">
                                                <i class="fas fa-share"></i>
                                            </span>
                                            <span>Update</span>
                                        </button>
                                    </div>
                                </form>



                                <p id="subtotal" class="lead font-weight-bold mb-0 text-right">
                                    Subtotal ${{ item.subtotal }}
                                </p>

                                {% if item.product.shipping %}
                                <p class="text-right">World Shipping
                                    ${{ item.product.shipping }}</p>
                                {% endif  %}

                            </div>
                        </div>

                        <div class="col-12 mb-5">
                            <hr>
                        </div>

                    {% endfor %}

                    <!-- TOTAL & PAYMENT -->
                    <div class="total-and-payments-container">
                        <h6><strong>Shopping Basket Total: </strong>${{ shopping_basket.total_cost }}</h6>
                        <h6><strong>Shipping Total: </strong>${{ shopping_basket.shipping_cost }}</h6>
                        <h4 class="mt-4"><strong>Grand Total: ${{ shopping_basket.grand_total }}</strong></h4>


                            <div>
                                <a href="{% url 'checkout' %}" class="glow-button my-4">
                                    <span class="icon">
                                        <i class="fas fa-money-bill-wave"></i>
                                    </span>
                                    <span>Pay</span>
                                </a>
                            </div>

                    </div>

                {% else %}

                <div class="empty-basket-div">


                    <div class="empty-basket-icon">
                        <span class="icon">
                            <i class="fas fa-shopping-basket"></i>
                        </span>
                        <br>
                        <p>Hey, looks like your bag is empty! Why not check out the shop?</p>
                    </div>


                </div>

                {% endif %}
            </div>
        </div>
          <!-- PARALAX PAGE BREAK -->
    <div class="paralax-background">
    </div>

    </section>


{% endblock %}


<!-- CODE FOR ADJUSTING PRODUCT AMOUNTS & UPDATING BACKEND -->
{% block postloadjs %}

    {{block.super}}

    <script type="text/javascript" src="{% static 'shopping_basket/js/shopping_basket.js' %}"></script>

{% endblock %}