{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'fan_art/css/fan_art.css' %}">
{% endblock %}

{% block content %}

<!-- PARALAX HEADING -->
<section id="page-heading">
    <div class="paralax-background">
        <div class="paralax-text-div">
            <h2 class="paralax-text">Upload Your Art</h2>
        </div>
    </div>
</section>

<!-- UPLOAD -->
<section id="">
    <div class="container fan-art-form">

        <div>
            <a href="{% url 'user_gallery' %}" class="glow-button my-4">
                <span class="icon">
                    <i class="fas fa-palette"></i>
                </span>
                <span>My Art</span>
            </a>
        </div>

        <div class="tip-box">
            <p>
                Hey, welcome to the upload page! Thank you in advance
                for sharing your beautiful fan art with the community!
            </p>
            <p>
                As part of our community guidelines each new upload
                will be visible for you straight away, but must be
                approved before it appears on the main fan art page.
                Please also make sure that you are only uploading art
                that you have created yourself (or that a family member
                has created and asked you to post for them).
            </p>
        </div>

        <div>
            <form action="{% url 'add_art' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="rounded mt-5 mb-5">
                    {{ add_art_form.image |as_crispy_field }}
                </fieldset>
                <fieldset class="rounded">
                    {{ add_art_form.title |as_crispy_field }}
                    {{ add_art_form.artist_name |as_crispy_field }}
                    {{ add_art_form.description |as_crispy_field }}
                    {{ add_art_form.series |as_crispy_field }}
                </fieldset>

                <div>
                    <button class="glow-button my-4">
                        <span class="icon">
                            <i class="fas fa-share-square"></i>
                        </span>
                        Upload
                    </button>
                </div>

            </form>
        </div>
    </div>

     <!-- PARALAX PAGE BREAK -->
     <div class="paralax-background">
    </div>
</section>



{% endblock %}