{% extends 'base.html' %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'fan_art/css/fan_art.css' %}">
{% endblock %}


<!-- PARALAX HEADING -->
{% block paralax_title%} Fan Art Gallery {% endblock%}


{% block content %}

<!-- PRODUCT FILTERS -->
<section id="product-filter">
    <div class="container">
        <form id="filter-fan-art-form" class="form" method="GET" action="{% url 'all_fan_art' %}">

            <div id="series-filter" class="form-group">
                <select name="series" class="form-control">

                    {% if selected_series == '' %}
                        <option value="" selected>All Series</option>
                    {% else %}
                        <option value="">All Series</option>
                    {% endif %}

                    {% for series in series_list %}
                        {% if selected_series == series.id %}
                            <option value="{{ series.id }}" selected>{{ series.name }}</option>
                        {% else %}
                            <option value="{{ series.id }}">{{ series.name }}</option>
                        {% endif %}
                    {% endfor %}

                </select>

            </div>
        </form>
    </div>
</section>


<!-- GALLERY -->
<section id="gallery">
    <div class="container">

        <div>
            <a href="{% url 'user_fan_art' %}" class="glow-button my-4">
                <span class="icon">
                    <i class="fas fa-palette"></i>
                </span>
                <span>My Art</span>
            </a>
        </div>

        <div class="row">

            {% if fan_art %}

                {% for art in fan_art %}

                <!-- ART CARD -->
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card">
                        <div class="card-image-div">
                            <img class="card-img-top" src="{{ art.image.url }}"
                                alt="product photo">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">{{ art.title }}</h4>
                            <p>{{ art.description }}</p>
                            <h6>
                                By:
                                {% if art.artist_name %}
                                    {{ art.artist_name }}
                                {% else %}
                                    {{ art.user_profile }}
                                {% endif %}
                            </h6>

                        </div>

                    </div>
                </div>


                {% endfor %}

            {% else %}
                <div class="col-md-12">
                    <p>We have no Art to show right now, why not submit some?</p>
                </div>
            {% endif %}

        </div>

        <!-- PAGINATION -->
        <div class="row">
            <div class="col-md-12">

            {% if fan_art.has_other_pages %}
                <ul class="pagination">

                <!-- BACK -->
                {% if fan_art.has_previous %}
                    <li class="page-item">
                        <a href="?page={{ fan_art.previous_page_number }}" class="page-link">
                            &laquo;
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">
                            &laquo;
                        </a>
                    </li>
                {% endif %}

                <!-- PAGES -->
                {% for i in fan_art.paginator.page_range %}

                    {% if fan_art.number == i %}
                        <li class="page-item active">
                            <a class="page-link">{{i}}</a>
                        </li>
                    {% else %}¨
                        <li class="page-item">
                            <a href="?page={{i}}" class="page-link">{{i}}</a>
                        </li>
                    {% endif %}

                {% endfor %}

                <!-- NEXT -->
                {% if fan_art.has_next %}
                    <li class="page-item">
                        <a href="?page={{ fan_art.next_page_number }}" class="page-link">
                            &raquo;
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">
                            &raquo;
                        </a>
                    </li>
                {% endif %}
                </ul>
            {% endif %}
            </div>
        </div>
    </div>

</section>

{% endblock %}

<!-- CODE FOR FILTERING ART -->
{% block postloadjs %}

    {{block.super}}

    <script type="text/javascript" src="{% static 'fan_art/js/fan_art.js' %}"></script>

{% endblock %}