{% extends 'base.html' %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'fan_art/css/fan_art.css' %}">
{% endblock %}


{% block content %}

<!-- PARALAX HEADING -->
<section id="page-heading">
    <div class="paralax-background">
        <div class="paralax-text-div">
            <h2 class="paralax-text">Fan Art Gallery</h2>
        </div>
    </div>
</section>

<!-- GALLERY -->
<section id="gallery">
    <div class="container">

        <a href="{% url 'user_gallery' %}" class="btn btn-light my-4">
            <span class="icon">
                <i class="fas fa-palette"></i>
            </span>
            <span>My Art</span>
        </a>

        <div class="row">

            {% if art_list %}

                {% for art in art_list %}

                <!-- ART CARD -->
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="{{ art.image.url }}"
                            alt="product photo">
                        <div class="card-body">
                            <h4 class="card-title">{{ art.title }}</h4>
                            <p>{{ art.description }}</p>
                            <h6>
                                By:
                                {% if art.artist_name %}
                                    {{ art.artist_name }}
                                {% else %}
                                    {{ art.user_profile }}
                                {% endif %}
                            </h6>

                        </div>

                    </div>
                </div>


                {% endfor %}

            {% else %}
                <div class="col-md-12">
                    <p>We have no Art to show right now, why not submit some?</p>
                </div>
            {% endif %}

        </div>
    </div>

     <!-- PARALAX PAGE BREAK -->
     <div class="paralax-background">
    </div>

</section>

{% endblock %}