{% extends 'base.html' %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'fan_art/css/fan_art.css' %}">
{% endblock %}


<!-- PARALAX HEADING -->
{% block paralax_title%}Your Art{% endblock%}


{% block content %}

<!-- GALLERY -->
<section id="gallery">
    <div class="container">

        <div>

            <a href="{% url 'fan_art_gallery' %}" class="glow-button my-4">
                <span class="icon">
                    <i class="fas fa-palette"></i>
                </span>
                <span>Main Gallery</span>
            </a>

            <a href="{% url 'add_art' %}" class="glow-button my-4">
                <span class="icon">
                    <i class="fas fa-paint-brush"></i>
                </span>
                <span>Submit Art</span>
            </a>

        </div>

        <hr>

        {% if unapproved_art == True %}
            <div id="unapproved-art-alert" class="alert alert-primary my-5" role="alert">
                <p>
                    Hey! It looks like you have recently added some art!
                    All art is looked at by one of our moderators to make
                    sure both the art itself and the text are suitable
                    for all audiences. Once it's been approved it will
                    appear in the main art gallery for the world to admire!
                    <br><br>
                    Please note that this also applies to art that has
                    previously been approved, but has then has been edited.  
                </p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}

        <div class="row">

            {% if  user_fan_art %}

                {% for art in  user_fan_art %}

                    <!-- ART CARD -->
                    <div class="col-md-6 col-lg-4 mb-4">

                        <div class="card">
                            <div>
                                <div class="card-image-div">
                                    <img class="card-img-top" src="{{ art.image.url }}"
                                    alt="product photo">
                                </div>

                                {% if not art.is_approved %}
                                    <div class="card-img-overlay">
                                        <h2>
                                            <span class="badge badge-secondary text-red">Pending Approval</span>
                                        </h2>
                                    </div>
                                {% endif %}
                            </div>

                            <div class="card-body">
                                <h4 class="card-title">{{ art.title }}</h4>
                                <p>{{ art.description }}</p>
                                <h6>
                                    By:
                                    {% if art.artist_name %}
                                        {{ art.artist_name }}
                                    {% else %}
                                        {{ art.user_profile }}
                                    {% endif %}
                                </h6>

                                <!-- EDIT -->
                                <div class="single-button-container">
                                    <a href="{% url 'edit_art' art.id %}" class="glow-button mb-4">
                                        <span class="icon">
                                            <i class="fas fa-edit"></i>
                                        </span>
                                        <span>Edit</span>
                                    </a>
                                </div>


                            </div>

                        </div>
                    </div>


                {% endfor %}

            {% else %}
                <div class="col-md-12">
                    <p>It looks like you haven't submitted any art yet, why not submit some now?</p>
                </div>
            {% endif %}

        </div>

        <!-- PAGINATION -->
        <div class="row">
            <div class="col-md-12">

            {% if user_fan_art.has_other_pages %}
                <ul class="pagination">

                <!-- BACK -->
                {% if user_fan_art.has_previous %}
                    <li class="page-item">
                        <a href="?page={{ user_fan_art.previous_page_number }}" class="page-link">
                            &laquo;
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">
                            &laquo;
                        </a>
                    </li>
                {% endif %}

                <!-- PAGES -->
                {% for i in user_fan_art.paginator.page_range %}

                    {% if user_fan_art.number == i %}
                        <li class="page-item active">
                            <a class="page-link">{{i}}</a>
                        </li>
                    {% else %}¨
                        <li class="page-item">
                            <a href="?page={{i}}" class="page-link">{{i}}</a>
                        </li>
                    {% endif %}

                {% endfor %}

                <!-- NEXT -->
                {% if user_fan_art.has_next %}
                    <li class="page-item">
                        <a href="?page={{ user_fan_art.next_page_number }}" class="page-link">
                            &raquo;
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">
                            &raquo;
                        </a>
                    </li>
                {% endif %}
                </ul>
            {% endif %}
            </div>
        </div>

        <div>
            <a href="{% url 'fan_art_gallery' %}" class="glow-button mb-4">
                <span class="icon">
                    <i class="fas fa-palette"></i>
                </span>
                <span>Main Gallery</span>
            </a>
        </div>

    </div>

</section>

{% endblock %}