/* -------------------------------- GENERAL */


/* -------------------------------- HOME PAGE */


.page-block {
    min-height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
}

.paralax-background {
    background-image: url(/static/img/glitter-background-1.jpg);
    height: 80vw;
    max-height: 250px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.paralax-text-div {
    height: 100%;
    width: 100%;
    padding: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paralax-text {
    color: #211f30;
    text-shadow: -1px 1px 8px #f5e388,
				  1px 1px 8px #f5e388,
				 1px -1px 8px #f5e388,
				-1px -1px 8px #f5e388;

    font-size: 10vw;
    text-align: center;
}



/* -------------------------------- ABOUT PAGE */


.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10vw;
    width: 100%;
    margin: 80px 0;
}

.about-image-container {
    width: 80vw;
    max-width: 350px;
    height: 80vw;
    max-height: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.about-image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



/* -------------------------------- MEDIA QUERIES */
@media (min-width: 576px) {
    .paralax-background {
        height: 45vw;
    }
    .paralax-text {
        font-size: 7vw;
    }
    .about-image-container {
        width: 60vw;
        height: 60vw;
    }

}

@media (min-width: 768px) {
    .paralax-background {
        height: 40vw;
        max-height: 350px;
    }
    .about-section {
        flex-direction: row;
        justify-content: space-between;
    }
    .about-image-container {
        margin-right: 15px;
    }
    .about-text-container {
        margin: 15px 2vw;
        width: 35vw;
    }
}

@media (min-width: 992px) {
    .paralax-text {
        font-size: 70px;
    }
    .about-image-container {
        width: 35vw;
        max-width: 400px;
        height: 35vw;
        max-height: 400px;
    }

}


/* ---------------------------- BACKGROUND IMAGES */

#about-image-1 {
    background-image: url(/static/img/author-profile-photo.png);
}

#ava-pic-1 {
    background-image: url(/static/img/AATMD-cover-cropped.jpg);
}

#ph-pic-1 {
    background-image: url(/static/img/PHLB-3.jpg);
}