<!-- MODAL -->
<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <h5 class="modal-title">Shopping Basket Preview</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>

      <div class="modal-body">

        <p>{{ message }}</p>


        {% for item in shopping_basket.products %}
          <hr>
          <div class="modal-bag-preview">
            <img src="{{ item.product.image.url }}" alt="product photo">
            <div class="modal-item-details">
              <h5>{{ item.product.name }}</h5>
              <p class="text-primary">
                  {{ item.product.get_product_type_display }}
              <p>
              <p><strong>In Basket:</strong>  {{ item.amount }}</p>
            </div>
          </div>
        {% endfor %}

        <div class="modal-total-preview">
          <hr>
          <p>
            To see a full breakdown of prices, and to edit the items in your
            shopping basket, please go to basket.
          </p>
          <p>
            <strong>Current Total (including shipping): </strong>
            ${{ shopping_basket.grand_total }}
          </p>
        </div>

      </div>
      <div class="modal-footer">

        <div>
          <button type="button" class="glow-button" data-dismiss="modal">
            <span class="icon">
              <i class="fas fa-tags"></i>
            </span>
            <span>Keep Shopping</span>
          </button>
          <a href="{% url 'view_or_update_shopping_basket' %}" class="glow-button">
            <span class="icon">
              <i class="fas fa-shopping-basket"></i>
            </span>
            <span>Go To Basket</span>
          </a>
        </div>

      </div>

    </div>
  </div>
</div>