<div>
    <p>This will be a modal! Use your imagination</p>
    <br>
    {{ message }}
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Added to Shopping Basket!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">

        </div>

        <hr>

        <div>
            <div>
                 <!-- ITEM IMAGE -->
            </div>
            <div>
                <!-- ITEM TITLE -->
                <!-- ITEM SERIES -->
                <!-- ITEM PRICE -->
                <!-- ITEM SHIPPING -->
            </div>
        </div>

        <hr>

        <div>
            <!-- SHOPPING BASKET TOTAL-->
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Continue Shopping</button>
          <button type="button" class="btn btn-primary">Go to basket</button>
        </div>

      </div>
    </div>
  </div>