<!-- MODAL -->
<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Added to shopping basket!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ message }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Keep Shopping</button>
        <a href="{% url 'view_or_update_shopping_basket' %}" class="btn btn-light mb-4">
          <span>Go To Basket</span>
      </a>
      </div>
    </div>
  </div>
</div>

<!-- TODO: PRODUCT DETAILS IN MODAL
    ITEM IMAGE
    ITEM TITLE
    ITEM SERIES
    ITEM PRICE
    ITEM SHIPPING
    SHOPPING BASKET TOTAL -- >
