{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}


    <!-- PARALAX HEADING -->
    <section id="page-heading">
        <div class="paralax-background">
            <div class="paralax-text-div">
                <h2 class="paralax-text">Shop</h2>
            </div>
        </div>
    </section>


    <!-- PRODUCT FILTERS -->
    <section id="product-filter">
        <div class="container">
            <form id="filter-products-form" class="form" method="GET" action="{% url 'products' %}">

                <div id="series-filter" class="form-group">
                    <select name="series" class="form-control">

                        {% if selected_series == '' %}
                            <option value="" selected>All Series</option>
                        {% else %}
                            <option value="">All Series</option>
                        {% endif %}

                        {% for series in series_list %}
                            {% if selected_series == series.id %}
                                <option value="{{ series.id }}" selected>{{ series.name }}</option>
                            {% else %}
                                <option value="{{ series.id }}">{{ series.name }}</option>
                            {% endif %}
                        {% endfor %}

                    </select>
                </div>

                <div id="product-type-filter" class="form-group">
                    <select name="product_type" class="form-control">

                        {% if selected_product_type == '' %}
                            <option value="" selected>All Products</option>
                        {% else %}
                            <option value="">All Products</option>
                        {% endif %}

                        {% for db_name, display_name in product_types %}
                            {% if db_name == selected_product_type %}
                                <option value="{{ db_name }}" selected>{{ display_name }}</option>
                            {% else %}
                                <option value="{{ db_name }}">{{ display_name }}</option>
                            {% endif %}
                        {% endfor %}

                    </select>
                </div>

            </form>
        </div>
    </section>

    <!-- PRODUCTS -->
    <section id="products" class="py-4">
        <div class="container">
            <div class="row">

                {% if products %}

                    {% for product in products %}

                        <!-- PRODUCT CARD -->
                        <div class="col-md-6 col-lg-4 mb-4">
                            <div class="card" >
                                <img class="card-img-top" src="{{ product.image.url }}" alt="product photo">
                                <div class="card-img-overlay">
                                    {% if product.in_stock %}
                                        <h2>
                                        <span class="badge badge-secondary text-white">${{ product.price }}</span>
                                        </h2>
                                    {% else %}
                                        <h2>
                                            <span class="badge badge-secondary text-red">Out of stock</span>
                                        </h2>
                                    {% endif %}
                                </div>

                                <div class="card-body">
                                    <div>
                                        <h4 class="card-title">{{ product.name }}</h4>
                                        <h6 class="text-primary">{{ product.get_product_type_display }}</h6>
                                        <p>
                                            <i class="fas fa-book text-secondary"></i>
                                            {{ product.series }}
                                        </p>
                                    </div>

                                    <hr>

                                    <p class="card-text">
                                        {{ product.description }}
                                    </p>
                                    <div class="single-button-container">
                                        <a href="{% url 'product_detail' product.id %}" class="glow-button">
                                            <span class="icon">
                                                <i class="fab fa-readme"></i>
                                            </span>
                                            See Details
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}

                {% else %}

                    <div class="col-md-12">
                        <p>No Listings Available</p>
                    </div>

                {% endif %}




            </div>



        </div>

        <!-- PARALAX PAGE BREAK -->
        <div class="paralax-background">
        </div>



    </section>


{% endblock %}

<!-- CODE FOR FILTERING PRODUCTS -->
{% block postloadjs %}

    {{block.super}}

    <script type="text/javascript" src="{% static 'products/js/products.js' %}"></script>

{% endblock %}