{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}


<!-- PARALAX HEADING -->
{% block paralax_title%} Shop {% endblock%}


{% block content %}

    <!-- PRODUCT FILTERS -->
    <section id="product-filter">
        <div class="container">
            <form id="filter-products-form" class="form" method="GET" action="{% url 'products' %}">

                <div id="series-filter" class="form-group">
                    <select name="series" class="form-control">

                        {% if selected_series == '' %}
                            <option value="" selected>All Series</option>
                        {% else %}
                            <option value="">All Series</option>
                        {% endif %}

                        {% for series in series_list %}
                            {% if selected_series == series.id %}
                                <option value="{{ series.id }}" selected>{{ series.name }}</option>
                            {% else %}
                                <option value="{{ series.id }}">{{ series.name }}</option>
                            {% endif %}
                        {% endfor %}

                    </select>
                </div>

                <div id="product-type-filter" class="form-group">
                    <select name="product_type" class="form-control">

                        {% if selected_product_type == '' %}
                            <option value="" selected>All Products</option>
                        {% else %}
                            <option value="">All Products</option>
                        {% endif %}

                        {% for db_name, display_name in product_types %}
                            {% if db_name == selected_product_type %}
                                <option value="{{ db_name }}" selected>{{ display_name }}</option>
                            {% else %}
                                <option value="{{ db_name }}">{{ display_name }}</option>
                            {% endif %}
                        {% endfor %}

                    </select>
                </div>

            </form>
        </div>
    </section>

    <!-- PRODUCTS -->
    <section id="products" class="py-4">
        <div class="container">
            <div class="row">

                {% if products %}

                    {% for product in products %}

                        <!-- PRODUCT CARD -->
                        <div class="col-md-6 col-lg-4 mb-4">
                            <div class="card" >
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top" src="{{ product.image.url }}" alt="product photo">
                                </a>

                                <div class="card-img-overlay">
                                    {% if product.in_stock %}
                                        <h2>
                                        <span class="badge badge-secondary text-white">${{ product.price }}</span>
                                        </h2>
                                    {% else %}
                                        <h2>
                                            <span class="badge badge-secondary text-red">Out of stock</span>
                                        </h2>
                                    {% endif %}
                                </div>

                                <div class="card-body">
                                    <div>
                                        <h4 class="card-title">{{ product.name }}</h4>
                                        <h6 class="text-primary">{{ product.get_product_type_display }}</h6>
                                        <p>
                                            <i class="fas fa-book text-secondary"></i>
                                            {{ product.series }}
                                        </p>
                                    </div>

                                    <hr>

                                    <p class="card-text">
                                        {{ product.description }}
                                    </p>
                                    <div class="single-button-container">
                                        <a href="{% url 'product_detail' product.id %}" class="glow-button">
                                            <span class="icon">
                                                <i class="fab fa-readme"></i>
                                            </span>
                                            See Details
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}

                {% else %}

                    <div class="col-md-12">
                        <p>No Listings Available</p>
                    </div>

                {% endif %}

            </div>


            <!-- PAGINATION -->
            <div class="row">
                <div class="col-md-12">

                {% if products.has_other_pages %}
                    <ul class="pagination">

                    <!-- BACK -->
                    {% if products.has_previous %}
                        <li class="page-item">
                            <a href="?page={{ products.previous_page_number }}" class="page-link">
                                &laquo;
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link">
                                &laquo;
                            </a>
                        </li>
                    {% endif %}

                    <!-- PAGES -->
                    {% for i in products.paginator.page_range %}

                        {% if products.number == i %}
                            <li class="page-item active">
                                <a class="page-link">{{i}}</a>
                            </li>
                        {% else %}¨
                            <li class="page-item">
                                <a href="?page={{i}}" class="page-link">{{i}}</a>
                            </li>
                        {% endif %}

                    {% endfor %}

                    <!-- NEXT -->
                    {% if products.has_next %}
                        <li class="page-item">
                            <a href="?page={{ products.next_page_number }}" class="page-link">
                                &raquo;
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link">
                                &raquo;
                            </a>
                        </li>
                    {% endif %}
                    </ul>
                {% endif %}
                </div>
            </div>

        </div>

    </section>

{% endblock %}


<!-- CODE FOR FILTERING PRODUCTS -->
{% block postloadjs %}

    {{block.super}}

    <script type="text/javascript" src="{% static 'products/js/products.js' %}"></script>

{% endblock %}