{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}


<!-- PARALAX HEADING -->
{% block paralax_title%} Details {% endblock%}


{% block content %}

<!-- PRODUCT -->
<section id="product" class="py-4">
    <div class="product-detail-container">

        <div class="single-button-container-l mb-4">
            <a href="{% url 'products' %}" class="glow-button">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span>Back To Shop</span>
            </a>
        </div>

        <div class="row">
            <div class="col">

                <!-- IMAGE -->
                <div class="image-div">

                    <div>
                        <img src="{{ product.image.url}}" alt="product photo"
                        class="img-main img-fluid mb-3">
                    </div>


                    {% if not product.in_stock %}
                    <div class="product-image-overlay">
                        <h2>
                            <span class="badge badge-secondary text-red">Out of stock</span>
                        </h2>
                    </div>
                    {% endif %}

                </div>

                <!-- DETAILS -->
                <div id="product-details-container">
                    <div>
                        <h3>{{ product.name }}</h3>
                        <h6 class="text-primary">
                            {{ product.get_product_type_display }}</h6>
                        <p>
                            <i class="fas fa-book text-secondary"></i>
                            {{ product.series }}
                        </p>
                        <p class="lead mb-0 text-left font-weight-bold">
                            ${{ product.price }}</p>

                        {% if product.shipping %}
                            <p>Worldwide Shipping ${{ product.shipping }}</p>
                        {% endif  %}

                        {% if product.product_type == 'merchandise' %}

                            <p>{{ product.description }}</p>

                        {% else  %}
                            <div>
                                <p>{{ product.synopsis }}</p>
                            </div>

                            <div class="single-button-container-l">
                                <a class="glow-button mb-2" data-toggle="collapse"
                                    href="#collapseDetails" role="button"
                                    aria-expanded="false"
                                    aria-controls="collapseDetails">
                                    <span class="icon">
                                        <i class="fab fa-readme"></i>
                                    </span>
                                    Details
                                    <span class="icon">
                                        <i class="fas fa-chevron-down"></i>
                                    </span>
                                </a>
                            </div>
                            <div class="collapse" id="collapseDetails">
                                <div class="card card-body">
                                    <p><strong>Author: </strong>{{ product.author }}</p>
                                    <p><strong>Publish Date: </strong>{{ product.publish_date }}</p>
                                    <p><strong>Publisher: </strong>{{ product.publisher }}</p>
                                    <p><strong>ISBN: </strong>{{ product.isbn }}</p>

                                    {% if not product.product_type == 'audio_book' %}
                                        <p><strong>Pages: </strong>{{ product.page_count }}</p>
                                    {% else %}
                                        <p><strong>Narrator: </strong>{{ product.narrator }}</p>
                                        <p><strong>Run Time: </strong>{{ product.run_time }} min</p>
                                    {% endif %}
                                </div>
                            </div>

                        {% endif %}
                    </div>
                </div>

                <hr>

                    <div>
                        <form action="{% url 'add_to_shopping_basket' product.id %}" method="POST">
                            {% csrf_token %}
                            <div>
                                <a href="{% url 'products' %}" class="glow-button mb-4">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span>Back To Shop</span>
                                </a>

                                <button type="submit" class="glow-button mb-4" value="Add to Bag">
                                    <span class="icon">
                                        <i class="fas fa-shopping-basket"></i>
                                    </span>
                                    <span>Add to Bag</span>
                                </button>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </div>
                        </form>

                    </div>
            </div>
        </div>
    </div>

</section>

{% endblock %}


<!-- MODAL -->
{% block postloadjs %}
    {{ block.super }}

    <script type="text/javascript">
        $(() => {
            $('.modal').modal()
        })
    </script>
{% endblock %}